body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
	background: #181818;
}

img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	padding: 8px;
	background: linear-gradient(135deg,red,blue 50%,transparent 50%);
	background-size: 250%;
	background-position: 100%,100%;
	transition: background 0.5s;
}

img:hover{
	background-position: 0%;
	cursor: pointer;
}